asgiref==3.8.1
build==1.2.2.post1
chardet==5.2.0
click==8.1.8
colorama==0.4.6
Django==5.2
inflect==7.5.0
more-itertools==10.7.0
numpy==2.2.4
packaging==25.0
pandas==2.2.3
pip-tools==7.4.1
psycopg==3.2.6
psycopg2-binary==2.9.10
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==80.3.0
six==1.17.0
sqlparse==0.5.3
typeguard==4.4.2
typing_extensions==4.13.2
tzdata==2025.2
wheel==0.45.1
